<!doctype html>
<html>
<link rel="alternate" type="application/json" href="{{ business }}.json">
<title>{{ business.name }}</title>

<body itemscope itemtype="http://schema.org/LocalBusiness"
          vocab="http://schema.org/">
          
<h1 class="name" itemprop="legalName">{{ business.name }}</h1>

<p class="location" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{{ business.location }}</p>

<p class="URL" itempprop="url">{{ business.URL }}</p>

<p class="phone" itemprop="telephone">{{ business.phone }}</p>

<p class="hours" itemprop="openingHours" itemtype="http://schema.org/Duration">{{ business.hours }}</p>

<p class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" itemprop="ratingValue">{{ business.rating }}</p>

<p class="description" itemprop="description" itemtype="http://schema.org/text">{{ business.description }}</p>

<p class="category">{{ business.category }}</p>

<form class="business-editor" enctype="application/json" method="patch">
Name:
<input type="text" name="name" value="{{ business.name }}"><br>
Location:
<input type="text" name="location" value="{{ business.location }}"><br>
URL:
<input type="text" name="URL" value="{{ business.URL }}"><br>
Phone:
<input type="text" name="phone" value="{{ business.phone }}"><br>
Hours:
<input type="text" name="hours" value="{{ business.hours }}"><br>
Rating:
<input type="text" name="rating" value="{{ business.rating }}"><br>
Description:
<input type="text" name="description" value="{{ business.description }}"><br>
Category:
<select name="category">
  {% for label in categories %}
  <option value="{{ business.category }}" {% if business.category == label %}selected{% endif %}>
    {{ label }}
  </option>
  {% endfor %}
</select>
<br>
<input class="update" type="submit" value="update business">
<script>
          var form = document.querySelector('form.business-editor');
          var button = document.querySelector('form.business-editor input.update');
          
          button.addEventListener('click', function (event) {
                    event.preventDefault();
                    var request = new XMLHttpRequest();
                    request.open('PATCH', window.location.pathname);
                    request.send(new FormData(form));
          }, false);
</script>
</form>
<a rel="collection" href="{{ url_for('businesslist') }}">all businesses</a>
<a rel="collection" href="{{ url_for('eventlist') }}">all events</a>
</body>
</html>
