<!doctype html>
<link rel="alternate" type="application/json" href="{{ business }}.json">
<title>{{ business.name }}</title>
<form class="business-editor" enctype="application/json" method="patch">
Name:
<input type="text" name="name" value={{ business.name }}><br>
Location:
<input type="text" name="location" value={{ business.location }}><br>
URL:
<input type="text" name="URL" value={{ business.URL }}><br>
Phone:
<input type="text" name="phone" value={{ business.phone }}><br>
Hours:
<input type="text" name="hours" value={{ business.hours }}><br>
Rating:
<input type="text" name="rating" value={{ business.rating }}><br>
Description:
<input type="text" name="description" value={{ business.description }}><br>
Category:
<input type="text" name="category" value={{ business.category }}><br>
<input class="update" type="submit" value="update business">
</form>
