<!doctype html>
<link rel="alternate" type="application/json" href="{{ events }}.json">
<title>{{ event.name }}</title>
<body itemscope itemtype="http://schema.org/Event"
          vocab="http://schema.org/">
          
<h1 class="name" itemprop="name" value={{ events.name }}</h1>

<p class="location" itemprop="location" itemscope itemtype="http://schema.org/PostalAddress" value={{ events.location }}</p>

<p class="venue" itemtype="Place" value={{ events.venue }}></p>

<p class="URL" itemprop="url"{{ events.URL }}></p>

<p class="date" itemprop="startDate" value={{ events.date }}></p>

<p class="time" itemprop="doorTime" itemtype="http://schema.org/DateTime" value={{ events.time }}></p>

<p class="phone" itemscope itemprop="telephone" itemtype="Text" value={{ events.phone }}></p>

<p class="description" itemprop="description" value={{ events.description }}></p>

<form class="event-editor" enctype="application/json" method="patch">
Name:
<input type="text" name="name" value={{ events.name }}><br>
<!--do we want to include venues...? some events might not have a venue-->
Venue:
<input type="text" name="venue" value={{ events.venue }}><br>
Location:
<input type="text" name="location" value={{ events.location }}><br>
Date:
<input type="text" name="date" value={{ events.date }}><br>
Time:
<input type="text" name="time" value={{ events.time }}><br>
Phone:
<input type="text" name="phone" value={{ events.phone }}><br>
Description:
<input type="text" name="description" value={{ events.description }}><br>
<input class="update" type="submit" value="update event">
</form>
