<!doctype html>
<html>
<link rel="alternative" type="application/json" href="{{ request.path }}.json">
<body>
<title>All Events</title>
<h1>All Events</h1>
<ol>
  {% for event_id, event in events.items() %}
  <li>
    <a rel="item" href="{{ url_for('event', event_id=event_id) }}">
      {{ event.name }}
    </a>
  </li>
  {% endfor %}
</ol>
<a rel="collection" href="{{ url_for('eventlist') }}">All Events</a>
<br>
<a rel="collection" href="{{ url_for('businesslist') }}">All Businesses</a>
</body>
</html>
